.idea/
.vscode/
*.iml
.env
.DS_Store
venv/
.pytest_cache/
**__pycache__/
**db.sqlite3
.pylintrc
media/
.$social_media_db_diagram.drawio
asdf.drawio
db copy.sql
db copy.sql
db_shema.erd
social_media_db_diagram.drawio
